<body id="landing-page">

  <nav id="landingNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#landing-page">Music Video Collector</a>
          </div>
      </div>
  </nav>

  <section id="container-section">
    <div id="container-header">
      <div class='header-img' class='col-md-12'>
        <img src='http://res.cloudinary.com/dwpmjcdhz/image/upload/v1435873363/unsplash-kitsune-4_uwuo0u.jpg'>
      </div>

      <div class="header-content col-md-12">
          <div class="header-content-inner col-md-4 col-md-offset-4">
              <h1>Build Your Music Video Collections</h1>
              <hr>
              <p>
                With MVC you can discover the best music videos on the web
                and create playlists of your favorites. Get started and watch
                your favorite artists!
              </p>
              <br><br>
              <a href="#login-link" class="btn btn-primary btn-lg sign-in-button">Sign In!</a>
          </div>
      </div>
    </div>
  </section>

  <section class="bg-primary anchor" id="about">
    <div class="container-span">
      <div class="row">
        <div class="col-lg-12 text-center we-do-section">
            <h2 class="section-heading">We do music videos:</h2>
            <hr class="light">
            <div class="col-md-8 col-md-offset-2">
              <ul class="text-faded about-list">
                <li class='text-faded pull-left'><p>Watch</p><p class='highlight'>&nbsp;embedded music videos</p><p>&nbsp;from </p><p class='highlight'>&nbsp;Youtube, Vimeo, and Vevo</p></li><br><br>
                <li class='text-faded pull-left'><p class='highlight'>Upload</p><p>&nbsp;your own videos with just a </p><p class='highlight'>&nbsp;URL</p></li><br><br>
                <li class='text-faded pull-left'><p>See the</p><p class='highlight'>&nbsp;most popular videos</p><p>&nbsp;across the web</p></li><br><br>
                <li class='text-faded pull-left'><p>Create your </p><p class='highlight'>&nbsp;favorite playlists</p><p>&nbsp;and keep track of your </p><p class='highlight'>&nbsp;most liked songs</p></li><br><br>
                <li class='text-faded pull-left'><p>Follow other users and/or playlists to get a </p><p class='highlight'>&nbsp;fresh new feed of videos</p><p>&nbsp;to watch</p></li><br><br>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class='anchor' id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">At Your Fingertips</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-youtube-play wow bounceIn text-primary"></i>
            <h3 class='explore'>Explore Music Videos</h3>
            <p class="text-muted">Browse our collections of the hottest music videos</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-th-large wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h3>Create your feed</h3>
            <p class="text-muted">Start following users and playlists to get a fresh funky feed of their videos.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
            <h3>Like Videos</h3>
            <p class="text-muted">Keep track of your favorites and rewatch them later.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-headphones wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <h3>Curate Playlists</h3>
            <p class="text-muted">Make playlists of your favorites or check out </p>
          </div>
        </div>
      </div>
    </div>
    <a id='login-link'></a>
  </section>

  <section class='anchor' id='login'>
    <div class="container login-active">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center login-title">Sign in to the <br>Music Video Collector!</h1>
          <div class="account-wall col-md-8 col-md-offset-2">
            <div class='render-errors'><%= render "layouts/errors" %></div>
            <button class="btn btn-primary" id="guest-login">Guest Login</button>
            <form class="form-signin" action="<%= session_url %>" method="post">
              <%= csrf %>
              <input type="text" class="form-control" id="form-username" placeholder="Username" name="user[username]" required>
              <input type="password" class="form-control" id="form-password" placeholder="Password" name="user[password]" required>
              <button class="btn btn-lg btn-primary btn-block submit" id="session-submit" type="submit">
                  Enter
                </button>
            </form>
          </div>
        </div>
      </div>
      <a href="#login-link" class="text-center switch-login-type">Sign Up</a>
    </div>

    <div class="container login-inactive">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center login-title">Sign up for the <br>Music Video Collector!</h1>
        <div class="account-wall col-md-8 col-md-offset-2">
          <div class='render-errors'><%= render "layouts/errors" %></div>
          <form class="form-signin" action="<%= users_url %>" method="post">
            <%= csrf %>
            <input type="text" class="form-control" placeholder="Username" name="user[username]" required>
            <input type="password" class="form-control" placeholder="Password" name="user[password]" required>
            <button class="btn btn-lg btn-primary btn-block submit" type="submit">
                Create Account
              </button>
          </form>
        </div>
        </div>
      </div>
      <a href="#login-link" class="text-center switch-login-type">Sign In</a>
    </div>

  </section>

  <script>
    $(document).ready(function() {
      $('.switch-login-type').click(function () {
        $('.login-active').removeClass('login-active').addClass('login-temp');
        $('.login-inactive').removeClass('login-inactive').addClass('login-active');
        $('.login-temp').removeClass('login-temp').addClass('login-inactive');
      });

      GuestLogin.initialize();

      $('a[href="#login-link"]').on('click',function (e) {
  	    e.preventDefault();

  	    var target = this.hash;
  	    var $target = $(target);

  	    $('html, body').stop().animate({
  	        'scrollTop': $target.offset().top
  	    }, 900, 'swing');
    	});
    })
  </script>



  <section class='anchor' id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">About the Creator</h2>
                  <hr class="primary">
                  <p>Ryan Duchin is a former semiconductors process/materials engineer turned web developer.</p>
              </div>

              <div class="col-lg-4 col-lg-offset-4 text-center">
                <a href="mailto:ryanduchin@gmail.com">
                  <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i><br><br>
                  <p>ryanduchin@gmail.com</p>
                </a>
              </div>
          </div>
      </div>
  </section>
</body>
