<% if (size === "normal") { %>
  <% var width = 400; %>
<% } else { %>
  <% var width = 250; %>
<% } %>

<a href="#/users/<%= user.id %>">
  <h4 class="thumb-user-name">
    <%= user.escape('username') %>
  </h4>

</a>
  <div class="follow-button"></div>
<a href="#/users/<%= user.id %>">

  <% if (post === "none") { %>

    <div class="thumb blank-thumb">
      <img width="<%= width %>" height="<%= 225 * width / 400 %>"
        src='/images/headphones3.svg'></img>
    </div>

  <% } else { %>

    <%= JST['_renderThumbnail']({ post: post, size: size }) %>

  <% } %>

</a>
