<div class='container-fluid' id='post-show'>
  <div class='post-show-row-1 row'>

    <div class='col-md-5 col-md-offset-2'>
      <h1 class='post-show-title'>
        <%= post.escape('title') %>
      </h1>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <% if (isOwner) { %>
        <button class='btn btn-delete btn-danger btn-sm show-delete'>Delete Video</button>
      <% } %>
    </div>

  </div>
  <div class='post-show-row-2 row'>
    <div class='col-md-5 col-md-offset-2'>
      <h3 class='post-show-artist'>
        <%= post.escape('artist').toUpperCase() %>
      </h3>
    </div>

    <div class='col-md-2 post-show-btn'>
      <div class='like-button post-show-btn'></div>
    </div>

  </div>
  <div class="post-show-row-3 show-image row">

    <div class='col-md-8 col-md-offset-2'>
      <iframe width='1100' height='614'
        src="<%= post.vidEmbedSrc() + post.vidId() %>"
        frameborder='0' allowfullscreen playbackRate='2'></iframe>
    </div>

  </div>
  <div class='post-show-row-4 row'>
    <div class='col-md-5 col-md-offset-2'>

      <a href="#/users/<%= post.escape('author_id') %>">
        <h3>User:
          <%= post.escape('username') %>
        </a>
      </h3>

      <h3><%= post.vidSource() %></h3>

    </div>
    <div class='col-md-2 post-show-btn'>
      <button class='btn add-post-to-playlist'>[+]</button>
    </div>
  </div>

  <div class='post-show-row-5 row'>
    <div class='col-md-5 col-md-offset-2'>

      <% if (!!post.escape('album')) { %>
        <h4>Album: <%= post.escape('album').toUpperCase() %></h4>
      <% } %>

      <% if (!!post.escape('description')) { %>
        <p>Description:
          <%= post.escape('description') %>
        </p>
      <% } %>

    </div>
  </div>

</div>
