
<h1><%= post.escape('title') %></h1>
<h3><%= post.escape('artist').toUpperCase() %></h3>

<div>
  <iframe width="1100" height="614"
    src='<%= post.vidEmbedSrc() + post.vidId() %>'
    frameborder="0" allowfullscreen></iframe>
</div>


<h4>User: <%= post.escape('username') %></h4>
<h4>Source: <%= post.vidSource() %></h4>
<h6>Video id: <%= post.vidId() %></h6>
<br>
<button class="btn btn-primary btn-danger btn-like-post"><i class="fa fa-heart"><%= btnText %></i></button>
