<h2><%= post.escape('title') %></h2>
<h4><%= post.escape('artist').toUpperCase() %></h4>

<div>
  <iframe width="560" height="315"
    src='<%= post.vidEmbedSrc() + post.vidId() %>'
    frameborder="0" allowfullscreen></iframe>
</div>


<h5>User: <%= post.escape('username') %></h5>
<h5>Source: <%= post.vidSource() %></h5>
<h7>Video id: <%= post.vidId() %></h7>

<!--
<iframe src="https://player.vimeo.com/video/75755258?color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/75755258">Swedish House Mafia - Greyhound</a> from <a href="https://vimeo.com/biglazyrobot">BLR_VFX</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
-->
