<h1><%= post.escape('title') %></h1>
<h3><%= post.escape('artist').toUpperCase() %></h3>

<div class="like-button"></div>

<%= JST['_addPost']({ userPlaylists: userPlaylists }) %>


<div>
  <iframe width="1100" height="614"
    src='<%= post.vidEmbedSrc() + post.vidId() %>'
    frameborder="0" allowfullscreen></iframe>
</div>

<h4>User: <%= post.escape('username') %></h4>
<h4><%= post.vidSource() %></h4>

<% if (isOwner) { %>
  <button class="btn btn-delete btn-danger btn-sm">Delete</button>
<% } %>
