<h1><%= post.escape('title') %></h1>
<h3><%= post.escape('artist').toUpperCase() %></h3>

<div class="like-button"></div>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add to Playlist<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/user/playlists">Your Playlists</a></li>
    <li class="divider"></li>
    <li><a href="#/all/playlists">All Playlists</a></li>
    <li class="divider"></li>
    <li><a href="#" class="upload-playlist">Add Playlist</a></li>
  </ul>
</li>

<div>
  <iframe width="1100" height="614"
    src='<%= post.vidEmbedSrc() + post.vidId() %>'
    frameborder="0" allowfullscreen></iframe>
</div>


<h4>User: <%= post.escape('username') %></h4>
<h4>Source: <%= post.vidSource() %></h4>
<h6>Video id: <%= post.vidId() %></h6>
