<h2><%= post.escape('title') %></h2>
<h4><%= post.escape('artist').toUpperCase() %></h4>

<div>
  <iframe width="560" height="315"
    src='<%= post.vidEmbedSrc() + post.vidId() %>'
    frameborder="0" allowfullscreen></iframe>
</div>


<h5>User: <%= post.escape('username') %></h5>
<h5>Source: <%= post.vidSource() %></h5>
<h7>Video id: <%= post.vidId() %></h7>
