<a href="#/posts/<%= post.id %>">
  <h4 class="thumb-title">
    <%= post.escape('title') %>
  </h4>

  <h5 class="thumb-artist">
    <%= post.escape('artist').toUpperCase() %>
  </h5>

</a>
  <div class="like-button"></div>
<a href="#/posts/<%= post.id %>">


  <%= JST['_renderThumbnail']({ post: post, size: "normal" }) %>

</a>
