<div class="container" id='thumbnail-container'>

  <div class="thumb-image row">
    <a href="#/posts/<%= post.id %>" id="post-thumbnail-link">
      <%= JST['_renderThumbnail']({ post: post, size: size }) %>
    </a>
  </div>

  <div class="thumb-top-1 row">
    <div class="thumb-descr col-md-2">
      <a href="#/posts/<%= post.id %>">
        <div class="thumb-title">

          <h4 class="thumb-title">
            <%= post.escape('title') %>
          </h4>
        </div>

        <div class="thumb-artist">
          <h5 class="thumb-artist">
            <%= post.escape('artist').toUpperCase() %>
          </h5>
        </div>
        </a>
  </div>
  <div class="thumb-buttons col-md-2">

    <div class="like-button thumb-button"></div>

    <button class="btn add-post-to-playlist btn-sm thumb-button">[+]</button>
    <div class="render-add-to-playlist-form"></div>

    <% if (isOwner) { %>
        <button class="btn remove-playlist btn-sm thumb-button">[x]</button>
    <% } %>

  </div>
</div>

</div>
