<div class="thumbnail-title row">
  <a href="#/posts/<%= post.id %>">

    <h4 class="thumb-title">
      <%= post.escape('title') %>
    </h4>

    <h5 class="thumb-artist">
      <%= post.escape('artist').toUpperCase() %>
    </h5>
  </a>
</div>

<div class="thumbnail-buttons row">

  <div class="like-button col-xs-1"></div>

  <button class="btn add-post-to-playlist btn-sm col-xs-1">[+]</button>
  <div class="render-add-to-playlist-form"</div>

  <% if (isOwner) { %>
      <button class="btn remove-playlist btn-sm col-xs-1">[x]</button>
  <% } %>

</div>

<div class="thumbnail-image row">
  <a href="#/posts/<%= post.id %>">
    <%= JST['_renderThumbnail']({ post: post, size: size }) %>
  </a>
</div>
