<% if (size === "normal") { %>
  <% var width = 400; %>
<% } else { %>
  <% var width = 250; %>
<% } %>







<a href="#/playlists/<%= playlist.id %>">
  <div id="playlist-thumbnail-overlay">
    <div class="overlay"></div>


    <h2 class="thumb-playlist-title">
      <br><br><%= playlist.escape('name').toUpperCase() %>
    </h2>

    <% if (post === "none") { %>
      <div class="thumb blank-thumb">
        <img width="<%= width %>" height="<%= 225 * width / 400 %>"
          src='/images/headphones3.svg'></img>
      </div>

    <% } else { %>
      <%= JST['_renderThumbnail']({ post: post, size: size }) %>
    <% } %>



  </div>
</a>

<div id="playlist-follow-button" class='follow-button'></div>




<!--
<h6 class="thumb-title">
  <%= post.escape('title') + "/" + post.escape('artist') %>
</h6>
-->
