<a href="#/playlists/<%= playlist.id %>">
  <h2 class="thumb-playlist-title">
    <%= playlist.escape('name') %>
  </h2>

</a>
  <div class="follow-button"></div>
<a href="#/playlists/<%= playlist.id %>">



  <% if (post === "none") { %>

    <h6 class="thumb-title">&nbsp;</h6>
    <div class="thumb blank-thumb">
      <img width="400" height="225"
        src='/images/headphones3.svg'></img>
    </div>

  <% } else { %>

    <h6 class="thumb-title">
      <%= post.escape('title') + "/" + post.escape('artist') %>
    </h6>
    <%= JST['_renderThumbnail']({ post: post, size: size }) %>

  <% } %>

</a>
