<% var vidSource = post.vidSource(); %>
<% vidId = post.vidId(); %>

<% if (size === "normal") { %>
  <% var width = 400; %>
<% } else { %>
  <% var width = 250; %>
<% } %>

<% if (vidSource === "Youtube") { %>
  <div class="thumb youtube-thumb">
    <img src="<%= "http://img.youtube.com/vi/" +
      vidId + "/mqdefault.jpg" %>" width="<%= width %>"></img>
  </div>

<% } else if (vidSource === "Vevo") { %>
  <div class="thumb vevo-thumb">
    <iframe width="<%= width - 10 %>" height="<%= height * 225/400 %>"
      src='<%= post.vidEmbedSrc() + vidId %>'
      frameborder="0" allowfullscreen></iframe>
  </div>

<% } else if (vidSource === "Vimeo") { %>

  <script type="text/javascript">
    $.ajax({
        type:'GET',
        url: 'http://vimeo.com/api/v2/video/' + vidId + '.json',
        jsonp: 'callback',
        dataType: 'jsonp',
        success: function(data){
            var thumbnail_src = data[0].thumbnail_large;
            var id_img = "#vimeo-" + data[0].id;
            $(id_img).html('<img src="' + thumbnail_src + '" width="<%= width %>"/>');
        }
    });
  </script>
  <div class="thumb vimeo-thumb" id="vimeo-<%= vidId %>"></div>

<% } %>
