<!DOCTYPE html>
<html>
<head>
  <title>ProjectProposal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= render "layouts/errors" %>

<%= yield %>

<% if signed_in? %>
  <div class='footer'>
    <%= current_user.username %>
    <%= button_to "Log Out", session_url, method: :delete %>
  </div>
<% end %>

</body>
</html>
